{% extends "tuvozespol/base.html" %}
{% load staticfiles %}

{% block title %}
    <title>Cambio de clave</title>
{% endblock %}

{% block estilo %}
<!--insertar estilo -->
{% endblock %}

{% block content %}
<!-- no action="" is required, since we are using default implementation. You just have to make sure that email server 	is configured properly-->
<form method="post">{% csrf_token %}
    
				
				<h3>Le enviaremos al correo su contraseña.</h3>
        {{ form.email }}
        <input type="submit" class="btn btn-default" value="Restaurar contraseña" />
				{% if form.email.errors %} <p>Por favor ingrese un correo valido.</p> {% endif %}
</form>

<script>
    $(document).ready(function() {
				//The id's used are those rendered by form.elements. Check: view source after load
        $('form').find("#id_email").each(function(index, element) {
            $(element).addClass("form-control");	
						$(element).attr("placeholder","Escriba su correo electronico");						
        });	
    });
</script>

{% endblock %}
