
{% load staticfiles %}

{% block title %}
    <title>Cambio exitoso</title>
{% endblock %}

{% block estilo %}
<!--insertar estilo -->
{% endblock %}

{% block content %}
    {% if validlink %}
        <h3>Ingrese su nueva contraseña.</h3>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table class="table table-borderless">
                <tr>
                    <td>
                        <label for="id_new_password1">Nueva contraseña:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>
                        <label for="id_new_password2">Repita contraseña:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="btn btn-default" type="submit" value="Cambiar mi contraseña" /></td>
										
                </tr>
            </table>
						{% if form.errors %}
						<p>Error. Verifique los valores.</p>
						<p>Tips: </p>
						<ul>
								<li>Asegurese que los valores son iguales.</li>
								<li>No ingrese contraseñas tan faciles.</li>
						</ul>
						{% endif %}
        </form>
    {% else %}
        <h3>Error</h3>
        <p>Este link ya ha sido usado.</p>
    {% endif %}
<script>
    $(document).ready(function() {
				//The id's used are those rendered by form.elements. Check: view source after load
        $('form').find("#id_new_password1").each(function(index, element) {
            $(element).addClass("form-control");					
        });	
				$('form').find("#id_new_password2").each(function(index, element) {
            $(element).addClass("form-control");					
        });	
    });
</script>

	
{% endblock %}
